<?xml version="1.0" encoding="UTF-8"?>
<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
>
	<bean class='kr.co.softsoldesk.beans.TestBean' id="t1">
		<property name="data1" value="100" />
		<property name="data2" value="11.11"/>
		<property name="data3" value="true"/>
		<property name="data4" value="안녕하세요"/>
		<property name="data5">
			<bean class="kr.co.softsoldesk.beans.DataBean" />
		</property>
		<property name="data6" ref="data_bean"/>
	</bean>
	
	<bean class="kr.co.softsoldesk.beans.DataBean" id="data_bean"/>
	<bean id="appleSpeaker" class="kr.co.softsoldesk.beans.AppleSpeaker" />
	
	<bean id="tv" class="kr.co.softsoldesk.beans.SamsungTV" scope="prototype" lazy-init="true">
		<property name="speaker" ref="appleSpeaker" />
		<property name="price" value="50" />
	</bean>
	
	
</beans>